<%= form_for(@crawl) do |f| %>
  <% if @crawl.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@crawl.errors.count, "error") %> prohibited this crawl from being saved:</h2>

      <ul>
      <% @crawl.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :filter %><br />
    <%= f.text_field :filter %>
  </div>
  <div class="field">
    <%= f.label :result_html %><br />
    <%= f.text_area :result_html %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
